<h1>Binge Master</h1>
<p>Plan your next movie marathon binge</p>
<%= link_to 'Create New Binge', new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %>
      <%= link_to 'view', list_path(list) %>
    </li>
  <% end %>
</ul>


