<h1>What is your next binge about?</h1>
<p>Give a short description about your planned movie binge.</p>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit 'Create List' %>
<% end %>
