<h1>Let's add a new movie</h1>
<p>Find a new movie to include in your movie binge.</p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
 <%= f.submit 'Create bookmark' %>
<% end %>

